.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Container {
  background-color: #f5f5f5;
  width: 620px;
  margin: auto; 
}

.ListContainer {
  margin-top: 20px;
}

.StashpointListItemContainer {
  background-color: #fff;
  margin: 10px;
}

.StashpointAvatarContainer {
  margin: 10px;
}

.StashpointAvatarImg {
  width: 128px;
  height: 128px;
}

.row {
  width: 100%;  
}

.ImageBlock {
  width: 30%;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
}

.DetailsBlock {
  width: 35%;
  display: inline-block;
  overflow: hidden;
}

.ContactBlock {
  width: 30%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.DescriptionBlock {
  width: 63%;
  margin-left: 10px;
  display: inline-block;
  overflow: hidden;
}

.PriceBlock {
  width: 30%;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  overflow: hidden;
}

.StashpointDetailsContainer {
  margin: 10px;
}

.StashpointTopSection {
  display: flex;
}

.StashpointLargeText {
  color: #0A2EBC;
  font-size: 16px;
}

.StashpointSmallText {
  color: #0A2EBC;
  font-size: 12px;
}

.StashpointHeaderContainer {
  background: #fff;
  height: 80px;
  margin: 10px;
}

.StashpointFilterContainer {
  background: #0A2EBC;
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.StashpointSortContainer {
  background: #fff;
  width: 50%;
  height: 100%;
  text-align: center;
  display: inline-block;
}

.FilterLabel {
  color: #fff;
  font-size: 14px;
  margin: 10px 0px 10px 0px;
}

.FilterOptionContainer {
  background-color: #fff;
  height: 30px;
  width: 45%;
  margin: 6px;
  display: inline-block;
}

.FilterOptionContainerSelected {
  background-color: #001C8A;
  height: 30px;
  width: 45%;
  margin: 6px;
  display: inline-block;
}

.FilterOption {
  color: #0A2EBC;
  font-size: 12px;
}

.FilterOptionSelected {
  color: #fff;
  font-size: 12px;
}

.SortLabel {
  color: #0A2EBC;
  font-size: 14px;
  margin: 10px 0px 10px 0px;
}

.SortOptionContainer {
  background-color: #0A2EBC;
  height: 30px;
  width: 45%;
  margin: 6px;
  display: inline-block;
}

.SortOptionContainerSelected {
  background-color: #001C8A;
  height: 30px;
  width: 45%;
  margin: 6px;
  display: inline-block;
}

.SortOption {
  color: #fff;
  font-size: 12px;
}

.Separator {
  width: 100%;
  height: 1px;
  background-color: #f5f5f5;
}

.loader {
    border: 8px solid #f5f5f5; /* Light grey */
    border-top: 8px solid #0A2EBC; /* Blue */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: spin 2s linear infinite;
}

.loaderContainer {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0px;
  padding-top: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
